li{
  list-style: none;
}

p{
  padding: 0;
}

h2{
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid rgb(75, 173, 243);
}
h1{
  font-weight: bold;
  border-bottom: 2px solid rgb(59, 242, 8);
}

.profile-p{
  margin: 20px;
}
span{
  font-weight: bold;
  border-bottom: 3px solid yellow;
}
.read{
  padding: 20px;
}
.point{
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
  border-bottom: 1px solid rgb(29, 241, 163);
}
@media(min-width:700px){
  .popular img{
    height: 200px;
  }
  .new img{
    height:200px;
  }
}
  